/* styles.css */
body {
  font-family: Arial, sans-serif; /* Đặt phông chữ thành Arial */
  background-color: #f0f0f0; /* Nền màu xám */
  color: black; /* Màu chữ */
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
}

header {
  background-color: #6c757d; /* bg-secondary */
  text-align: center;
  padding: 1rem;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.card {
  background-color: #6c757d; /* bg-secondary */
  color: white;
  padding: 1rem;
}
